*.class
*.dll
*.exe
*.sln
*.pdb
*.cache
*.properties
*.dbtcache
*.ide
*.lock
*.suo
AV/CSharp/OraConn/.vs/OraConn/DesignTimeBuild/.dtbcache
AV/CSharp/OraConn/OraConn/bin/Debug/netcoreapp3.0/OraConn.deps.json
AV/CSharp/OraConn/OraConn/bin/Debug/netcoreapp3.0/OraConn.dll.config
AV/CSharp/OraConn/OraConn/obj/Debug/netcoreapp3.0/OraConn.AssemblyInfo.cs
AV/CSharp/OraConn/OraConn/bin/Debug/netcoreapp3.0/OraConn.runtimeconfig.dev.json
AV/CSharp/OraConn/OraConn/bin/Debug/netcoreapp3.0/OraConn.runtimeconfig.json
AV/CSharp/OraConn/OraConn/obj/Debug/netcoreapp3.0/OraConn.csproj.CopyComplete
AV/CSharp/OraConn/OraConn/obj/Debug/netcoreapp3.0/OraConn.csproj.FileListAbsolute.txt
AV/CSharp/OraConn/OraConn/obj/OraConn.csproj.nuget.dgspec.json
AV/CSharp/OraConn/OraConn/obj/OraConn.csproj.nuget.g.props
AV/CSharp/OraConn/OraConn/obj/OraConn.csproj.nuget.g.targets
AV/CSharp/OraConn/OraConn/obj/project.assets.json
AV/Java/Java21/build/classes/com/java21days/ComicBooks.rs
AV/Java/Java21/build/classes/org/av/Out.csv
AV/Java/Java21/build/classes/org/av/Out.dat
AV/Java/Java21/dist/Java21.jar
AV/Java/Java21/dist/lib/ojdbc8.jar
AV/Java/Java21/dist/Java21.jar
AV/Java/Java21/nbproject/private/private.xml
AV/Java/Java21/src/org/av/Out.csv
AV/Java/Java21/src/org/av/Out.dat
KH/HelloWorld/Program.cs
KH/HelloWorld/obj/project.assets.json
KH/HelloWorld/obj/HelloWorld.csproj.nuget.g.targets
KH/HelloWorld/obj/HelloWorld.csproj.nuget.g.props
KH/HelloWorld/obj/HelloWorld.csproj.nuget.dgspec.json
KH/HelloWorld/obj/Debug/netcoreapp2.2/HelloWorld.csproj.FileListAbsolute.txt
KH/HelloWorld/obj/Debug/netcoreapp2.2/HelloWorld.AssemblyInfo.cs
KH/HelloWorld/HelloWorld.csproj
KH/HelloWorld/bin/Debug/netcoreapp2.2/HelloWorld.runtimeconfig.json
KH/HelloWorld/bin/Debug/netcoreapp2.2/HelloWorld.runtimeconfig.dev.json
KH/HelloWorld/bin/Debug/netcoreapp2.2/HelloWorld.deps.json
github-git-cheat-sheet.pdf
dotnet_resources.txt
dotnet_3.0.3.txt
dotnet.txt
cscHelp.txt
AV/Java/Java21/build/built-jar.properties
AV/Java/Java21/src/Calc_Tax.java
AV/SQL Scripts/SQLServer/CourseLibrary/CourseLibrary_Main.sql
