@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>@welcomeMsg</h3>
<br />
<br />
<img src="/images/ILS.JPG" height="100" width="200" />

@code
{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    private string welcomeMsg { get; set; }
    private string authUser { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var user = (await authenticationStateTask).User;
        authUser = user.Identity.Name;

        if (authUser != null)
        {
            welcomeMsg = "Hello, " + authUser;
        } else {
            welcomeMsg = "Hello - Please sign in or register";
        }
    }
}
