@page "/ParentComponent"

<div class="card">
    <div class="card-header">
        <h3>@parentTitle</h3>
    </div>
</div>

<br />

<ChildComponent Title="Child title set by parent" OnClickCallBack="setTitle"></ChildComponent>

@code {
    private string parentTitle { get; set; }
    
    private void setTitle()
    {
        parentTitle = "Parent - Child Components";
    }
}
