@page "/SimpleNav"

<h3>Navigation Links</h3>

<hr />
<ul>
    <li>
        <b>Documentation</b> - <a href="https://docs.microsoft.com">docs</a>
    </li>
    <li>
        <b>Messaging</b> - <a href="/">chat</a>
    </li>
</ul>
<hr />

@code {

}
