@page "/feeling"
@page "/feeling/{currentfeeling}"

<h3>Your feeling like: <b>@currentfeeling</b></h3>

@code {
    [Parameter]
    public string currentfeeling { get; set; }

    protected override void OnInitialized()
    {
        currentfeeling = currentfeeling ?? "unknown";
    }
}
