@page "/splatting"

<div class="card">
    <div class="card-header">
        <h3>Splatting</h3>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>
                Control with individual params:
            </label>
            <input class="form-control" 
                   id="individualParams" 
                   maxlength="@MaxLength"
                   placeholder="@PlaceHolder"
                   required="@Required"
                   size="@size"/>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>
                Control using splatting:
            </label>
            <input class="form-control" id="splattingParams" @attributes="InputAttributes" />
        </div>
    </div>
</div>

@code {
    #region // Individual parameters
    [Parameter]
    public string MaxLength { get; set; } = "10";
    [Parameter]
    public string PlaceHolder { get; set; } = "Input placeholder";
    [Parameter]
    public string Required { get; set; } = "required";
    [Parameter]
    public string size {  get; set; } = "50";
    #endregion

    #region // Splatting using a dictionary object
    [Parameter]
    public Dictionary<string, object> InputAttributes { get; set; } = new Dictionary<string, object>()
    {
        { "maxlength", "10" },
        { "placeholder", "Input placeholder splatting" },
        { "required", "required" },
        { "size", "50" }
    };
    #endregion
}
